<div class="row">
  <div class="col-md-4">
    <h1 class="title">Conheça os detalhes daquele seu filme favorito!</h1>
    <div class="img rounded"></div>
  </div>
  <div class="col-md-1">

  </div>
  <div class="col-md-6">
    <div class="jumbotron">
      <h3 class="display-4">Digite o nome do filme.</h3>
      <div class="form-group row">
        <input type="text" id="inputTitle" class="form-control col-10" autocomplete="off" (keypress)="click()">
        <button class="btn btn-botao col-2" [routerLink]="['/detalhes',frase]" routerLinkActive="router-link-active"><span id="btn-botao">Procurar</span></button>
      </div>
      <hr class="my-4">
      <p>Se preferir você pode visualizar o nosso catálogo de filmes.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" id="btnCat" role="button">Ir para o catálogo</a>
      </p>
    </div>
  </div>
</div>

<app-catalogo></app-catalogo>
